*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --text-color-orange: rgba(247, 140, 46, 1);
    --text-color-light:  rgba(255, 255, 255,1);
    --text-color-dark: rgba(24, 24, 24,1);
    --border-color-orange:  rgba(247, 140, 46, 1);
}
body{
    /* max-width: 1440px; */
    margin: auto;
    
}

h1, h2, h3, h4, p, a{
    color: var(--text-color-light);
    font-family: 'Work Sans', sans-serif;
}
h1{
    font-size: 4em;
    font-weight: 700;
    text-transform: uppercase;
}
h2{
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
}
h3{
    font-size: 1.7em; 
}
p{
    font-size: 1em;
}
a{
    font-size: 1.2em;
}
/* Customization */
.text-white{
    color: var(--text-color-light);
}
.text-orange{
    color: var(--text-color-orange);
}
.text-black{
    color: var(--text-color-dark);
}

/* header */
.header{
    position: absolute;
    z-index: 10;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px 10px;
    width: 100%;
}

.header a{
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    line-height: 25px;
    text-transform: uppercase;
}
.header a.logo{
    font-size: 25px;
    font-weight: bold;
    color: var(--text-color-orange);
}

.header a:hover{
    color: var(--text-color-orange);
    border-bottom:rgba(247, 140, 46, 1) 1px solid;
}
.header a.active{
    color: var(--text-color-orange);
    border-bottom:var(--border-color-orange) 1px solid;
}

.header-right{
    float: right;
}

.mob-nav-bar{
    float: right;
}

#myLinks, .menu, .mob-nav{
    display: none;
}
.logo-mob p{
    font-size: 2em;
}

@media screen and (max-width: 1000px){
    .header{
        display: none;
    }
  .mob-nav{
    display: block;
    z-index: 99;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .mob-nav a
  {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  .mob-nav a.logo-mob{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .1em;
}
  .menu{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    }
    .mob-nav a:hover{
        color: var(--text-color-orange);
        border-bottom:rgba(247, 140, 46, 1) 1px solid;
    }
    .mob-nav a.active{
        color: var(--text-color-orange);
        border-bottom:var(--border-color-orange) 1px solid;
    }

}
/* hero-page */
.top *{
    text-align: center;
    color: #fefefe;
    padding: 5px;
}
.top{
    margin-top: 250px;
}
.btns{
    display: flex;
    gap: 20px;
}
.btns *{
    text-decoration: none;
    color: var(--border-color-orange);
    font-size: 20px;
    padding: 30px;

}
.btns a:hover{
    color: blue;
    font-weight: 700;
}

.hero-page{
    display: absolute;
    top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url(./images/background.png);
    opacity: .9;
    background-repeat: none;
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    height: 700px;
    width: 100%;

    /* display-flex-column-center-align-items-center */
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .about-page */
#about-page{
    background-image:url('images/whitebackground.png');
    display: block;

}
.about-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.title-content{
    max-width: 720px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.title-content h2{
    margin-top: 1.5em;
}
.title-content p{
    margin-top: 2em;
    margin-left: 2em;
}
.image-van img{
    max-width: 720px;
    height: auto;
}

@media screen and (max-width: 1000px){
    .image-van img{
        display: none;
    }
}

.info-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: center;

    
}
.info-cards{
    padding: 50px 5px 100px 5px;
}
.info-card{
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    max-width: 200px;
}
.info-card:hover{
    transform: scale(1.1,1.1);
}
.info-cards img{
    margin-top: 2em;
    height: 80px;
    width: 120px;
    object-fit: contain;
}

.info-cards p{
    margin-top: 1em;
    line-height: 1.5em;
    padding-bottom: 2em;
}


/* service section */

#service-page{
    background-color: rgba(36, 40, 47, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#service-page > .title > h2{
    color: var(--text-color-light);
    text-align: center;
    padding: 50px 20px;
}

.mySlides{
    display: none;
    grid-auto-flow: column;

}
.slideshow-container{
    position: relative;
    padding: 20px;

}
.mySlides > img{
        width: 100%;
        max-width: 700px;
        height: auto;

}
.text-container{
    max-width: 500px;
    display: grid;
    justify-items: center;
    padding: 20px 0;
    background-color:rgba(217, 217, 217, 1);
}
.text-container h3, p{
    color: var(--text-color-dark);
}
.text-container p{
    padding: 20px 10px;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
.next{
    right: 60%;
    border-radius: 3px 0 0 3px;
}
.prev{
    left: 25%;
}
.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}
@media screen and (max-width: 1000px){
    .mySlides > img{
        display: none;
    }
    .mySlides .text-container{
        width: 100%;
        border-radius: 20px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);


    }
}