*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --text-color-orange: rgba(247, 140, 46, 1);
    --text-color-light:  rgba(255, 255, 255,1);
    --text-color-dark: rgba(24, 24, 24,1);
    --border-color-orange:  rgba(247, 140, 46, 1);
}
body{
    max-width: 1440px;
    margin: auto;
    
}

h1, h2, h3, h4, p, a{
    color: var(--text-color-light);
    font-family: 'Work Sans', sans-serif;
}
h1{
    font-size: 4em;
    font-weight: 700;
    text-transform: uppercase;
}
h2{
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
}
h3{
    font-size: 1.5em; 
}
p{
    font-size: .8em;
}
a{
    font-size: 1em;
}
/* Customization */
.text-white{
    color: var(--text-color-light);
}
.text-orange{
    color: var(--text-color-orange);
}
.text-black{
    color: var(--text-color-dark);
}

/* header */
.header{
    position: absolute;
    z-index: 10;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px 10px;
    width: 1440px;
}

.header a{
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    line-height: 25px;
    text-transform: uppercase;
}
.header a.logo{
    font-size: 25px;
    font-weight: bold;
    color: var(--text-color-orange);
}

.header a:hover{
    color: var(--text-color-orange);
    border-bottom:rgba(247, 140, 46, 1) 1px solid;
}
.header a.active{
    color: var(--text-color-orange);
    border-bottom:var(--border-color-orange) 1px solid;
}

.header-right{
    float: right;
}

.mob-nav-bar{
    float: right;
}

#myLinks, .menu, .mob-nav{
    display: none;
}

@media screen and (max-width: 1000px){
    .header{
        display: none;
    }
  .mob-nav{
    display: block;
    z-index: 99;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .mob-nav a
  {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  .mob-nav a.logo-mob{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .1em;
}
  .menu{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    }
    .mob-nav a:hover{
        color: var(--text-color-orange);
        border-bottom:rgba(247, 140, 46, 1) 1px solid;
    }
    .mob-nav a.active{
        color: var(--text-color-orange);
        border-bottom:var(--border-color-orange) 1px solid;
    }

}
/* hero-page */
.top *{
    text-align: center;
    color: #fefefe;
    padding: 5px;
}
.top{
    margin-top: 250px;
}
.btns{
    display: flex;
    gap: 20px;
}
.btns *{
    text-decoration: none;
    color: var(--border-color-orange);
    font-size: 20px;
    padding: 30px;

}
.btns a:hover{
    color: blue;
    font-weight: 700;
}

.hero-page{
    display: absolute;
    top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url(./images/background.png);
    opacity: .9;
    background-repeat: none;
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    height: 700px;
    width: 100%;

    /* display-flex-column-center-align-items-center */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* service-page */
#service-page{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.title h2{
    color: black;
    font-weight: 800;
    text-align: center;
    padding: 70px 50px;
    text-transform: uppercase;
}
.title-card h3{
    padding: 10px;
    font-size: 24px;
}
.bot-content{
    height:  30%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 20px;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}
.bot-content p{
    font-size: 18px;
    line-height: 1.5em;
}
.card{

    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 300px;
    height: 400px;
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);

    /* card's background */
    background-position: center;
    background-size: cover;
    }

    /* Cards */
#card-1{
    background-image: url(./images/waxandclay.jpg);
}
#card-2{
    background-image: url("https://images.unsplash.com/photo-1583419960376-d2037c49ffed?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
}
#card-3{
    background-image: url("https://images.unsplash.com/photo-1627503292253-dd54564d3b28?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
}
#card-4{
    background-image: url("https://images.unsplash.com/photo-1560037962-a00331b63f72?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}
#card-5{
    background-image: url("https://images.unsplash.com/photo-1565534384095-5d329610fa16?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}
#card-6{
    background-image: url(./images/waxandclay.jpg);
}

.container{
    width: 80%;
}

.media-stroller{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 350px;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    overflow: scroll;
    padding:  30px 10px;
}
.snaps-inline{
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(1em, 1rem);
}
.snaps-inline >*{
    scroll-snap-align: start;
} 

/* .about-page */
#about-page{
    background-image:url('images/whitebackground.png');

}
.about-container{
    display: flex;
    flex-wrap: wrap;

}
.title-content{
    max-width: 720px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.title-content h2{
    margin-top: 1.5em;
}
.title-content p{
    margin-top: 2em;
    margin-left: 2em;
}
.image-van img{
    max-width: 720px;
    height: auto;
}

@media screen and (max-width: 1000px){
    .image-van img{
        display: none;
    }
}

.info-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: center;

    
}
.info-cards{
    padding: 50px 5px 100px 5px;
}
.info-card{
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    max-width: 200px;
}
.info-card:hover{
    transform: scale(1.1,1.1);
}
.info-cards img{
    margin-top: 2em;
    height: 80px;
    width: 120px;
    object-fit: contain;
}

.info-cards p{
    margin-top: 1em;
    line-height: 1.5em;
    padding-bottom: 2em;
}


